body {
    background: rgba(59,183,120,1);background: -moz-linear-gradient(left, rgba(59,183,120,1) 47%, rgba(71,196,218,1) 100%);background: -webkit-gradient(left top, right top, color-stop(47%, rgba(59,183,120,1)), color-stop(100%, rgba(71,196,218,1)));background: -webkit-linear-gradient(left, rgba(59,183,120,1) 47%, rgba(71,196,218,1) 100%);background: -o-linear-gradient(left, rgba(59,183,120,1) 47%, rgba(71,196,218,1) 100%);background: -ms-linear-gradient(left, rgba(59,183,120,1) 47%, rgba(71,196,218,1) 100%);background: linear-gradient(to right, rgba(59,183,120,1) 47%, rgba(71,196,218,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bb778', endColorstr='#47c4da', GradientType=1 );
    }
.transparent .tuyin 
	{
	margin-top: 20px; 
	background-color: rgba(255, 255, 255, 0.37);
	border: 1px solid #F7F7F7;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 0px rgba(181, 181, 181, 0.3);
	padding: 4%;
	text-align: center;
	width: 97%;
	
	position: relative;
	margin-bottom: 25px;
	 }
.transparent .tuyin .title 
	{
	text-align: center; 
	color: #FFF;
	font-size: 49px; 
	}
.transparent .tuyin .plan-name 
	{
	font-size: 20px;
	font-weight: 400;
	border-bottom: 1px solid #FFF;
	padding-bottom: 15px;
	padding: 10px
	}

.transparent .tuyin .text
	{
	margin-top: 20px; 
	color: #474747;
	font-weight: 300;
	margin-bottom: 13px; 
	font-size: 16px;
	text-align: justify;
	}
.transparent .info{
	font-size:30px;
	font-family: 'Hanna', serif;
}
.left {
	padding:10px;
	margin:10px;
	text-align: center;
	color: #d6d3d1;
}
.right {
	padding:10px;
	margin:10px;
	text-align: center;
	color: #583a2f;
}