
<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Join-servlet</servlet-name>
		<servlet-class>JoinServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Join-servlet</servlet-name>
		<url-pattern>/Join</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login-servlet</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login-servlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddFindItem-servlet</servlet-name>
		<servlet-class>AddFindItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddFindItem-servlet</servlet-name>
		<url-pattern>/AddFindItem</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddLostItem-servlet</servlet-name>
		<servlet-class>AddLostItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddLostItem-servlet</servlet-name>
		<url-pattern>/AddLostItem</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReadFindItem-servlet</servlet-name>
		<servlet-class>ReadFindItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReadFindItem-servlet</servlet-name>
		<url-pattern>/ReadFindItem</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReadLostItem-servlet</servlet-name>
		<servlet-class>ReadLostItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReadLostItem-servlet</servlet-name>
		<url-pattern>/ReadLostItem</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteFindItem-servlet</servlet-name>
		<servlet-class>DeleteFindItem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteFindItem-servlet</servlet-name>
		<url-pattern>/DeleteFindItem</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteLostItem-servlet</servlet-name>
		<servlet-class>DeleteLostItem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteLostItem-servlet</servlet-name>
		<url-pattern>/DeleteLostItem</url-pattern>
	</servlet-mapping>
</web-app>